* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #222831;
  color: #eeeeee;
}

.crud {
  width: 80%;
  margin: auto;
}

.head {
  text-align: center;
  margin: 20px 0;
}

.head h1 {
  font-size: 30px;
  font-weight: 600;
}

.head p {
  font-size: 18px;
  font-weight: 300;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #393e46;
  outline: none;
  padding: 10px;
  background-color: #222831;
  color: #eeeeee;
}

input:focus {
  border: 1px solid #00adb5;
  background-color: #393e46;
  transform: scale(1.01);
}

.price input {
  width: 20%;
}

select {
  width: 7%;
  padding: 8px;
  font-size: 16px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #393e46;
  outline: none;
  padding: 8px;
  background-color: #222831;
  color: #eeeeee;
}

select:focus {
  border: 1px solid #00adb5;
  background-color: #393e46;
  transform: scale(1.01);
}

#total {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #393e46;
  outline: none;
  padding: 10px;
  background-color: #00adb5;
  color: #eeeeee;
}

#total:hover {
  background-color: #393e46;
  transform: scale(1.01);
}

#total:active {
  background-color: #00adb5;
  transform: scale(1.01);
}

#total:focus {
  border: 1px solid #00adb5;
  background-color: #393e46;
  transform: scale(1.01);
}

#total::before {
  content: "Total: ";
}

.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #00adb5;
  background-color: #00adb5;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 700;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #00adb5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
}

.button:hover {
  background: #00adb5;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #00adb5;
}

.button:active {
  border: 1px solid #00adb5;
}
