* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #222831;
  color: #eeeeee;
}

.crud {
  width: 80%;
  margin: auto;
}

.head {
  text-align: center;
  margin: 20px 0;
}

.head h1 {
  font-size: 30px;
  font-weight: 600;
}

.head p {
  font-size: 18px;
  font-weight: 300;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #393e46;
  outline: none;
  padding: 10px;
  background-color: #222831;
  color: #eeeeee;
}

input:focus {
  border: 1px solid #00adb5;
  background-color: #393e46;
  transform: scale(1.01);
}

.price input {
  width: 20%;
}

select {
  width: 7%;
  padding: 8px;
  font-size: 16px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #393e46;
  outline: none;
  padding: 8px;
  background-color: #222831;
  color: #eeeeee;
}

select:focus {
  border: 1px solid #00adb5;
  background-color: #393e46;
  transform: scale(1.01);
}

#total {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #393e46;
  outline: none;
  padding: 10px;
  background-color: #00adb5;
  color: #eeeeee;
}
